{% load static %}
<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>TaiAdventures</title>
<!-- Stylesheets -->

<link href="{% static 'TaiApp/css/bootstrap.css' %}" rel="stylesheet">
<link href="{% static 'TaiApp/css/style.css'%}" rel="stylesheet">
<link href="{% static 'TaiApp/css/responsive.css'%}" rel="stylesheet">

<link rel="shortcut icon" href="images/favicon.png" type="image/x-icon">
<link rel="icon" href="{%static 'TaiApp/images/TaiLogonew.jpg'%}" type="image/x-icon">

<!-- Responsive -->
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

<!--[if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script><![endif]-->
<!--[if lt IE 9]><script src="js/respond.js"></script><![endif]-->
</head>

<body>

<div class="page-wrapper">



  <!-- Main Header-->
  <header class="main-header header-style-four">

      <!-- Header Lower  -->
    <div class="header-lower">
        <div class="auto-container">
            <div class="outer-container clearfix">
        <!-- Logo Box -->
        <div class="pull-left logo-box">
          <div class="logo"><a href="{% url 'TaiApp:home' %}"><img src="{%static 'TaiApp/images/TaiLogonew.jpg'%}" alt="" title="" width="200" height="300"></a></div>
        </div>
        <!-- Nav Outer -->
                  <div class="nav-outer clearfix">
          <!-- Main Menu -->
          <nav class="main-menu navbar-expand-md">
            <div class="navbar-header">
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
            </div>

            <div class="navbar-collapse collapse clearfix" id="navbarSupportedContent">
              <ul class="navigation clearfix">
                <li ><a href="{% url 'TaiApp:home' %}">Home</a>

                </li>
                <li><a href="#about">About Us</a>

                </li>
                <li><a href="{% url 'TaiApp:packages' %}">Packages</a>


                <li><a href="{% url 'TaiApp:book' %}">book</a></li>
              </ul>
            </div>

          </nav>



                  </div>

              </div>
          </div>
      </div>


  </header>
  <!--End Main Header -->

	<!--Main Slider-->
    <section class="main-slider style-three">
        <div class="main-slider-carousel owl-carousel owl-theme">

            <div class="slide" style="background-image:url({% static 'TaiApp/images/Mara5.jpg'%});height: 293px;">
                <div class="auto-container">

                </div>
            </div>

            <div class="slide" style="background-image:url({% static 'TaiApp/images/Mara5.jpg'%});height: 293px;">
                <div class="auto-container">

                </div>
            </div>

        </div>
	</section>







  <!-- Services Section Ten -->
	<section class="services-section-ten style-two">
		<div class="auto-container">
			<!-- Sec Title -->
			<div class="sec-title centered">
				<div class="title">Real Experiences, Great Memories</div>
				<h2>Maasai Mara Game Reserve Safari(3 Days)</h2>
			</div>
      <!--Sidebar Page Container-->
        <div class="sidebar-page-container">
          <div class="auto-container">
              <div class="row clearfix">

            <!--Sidebar Side-->
                    <div class="sidebar-side col-lg-4 col-md-12 col-sm-12">
                      <aside class="sidebar default-sidebar">



                <!-- Contact Widget-->
                            <div class="sidebar-widget contact-widget">
                              <div class="sidebar-title">
                                    <h4>Contact</h4>
                                </div>
                  <ul>
                    <li><span class="icon flaticon-map-1"></span> Nairobi <br> Nairobi</li>
                    <li><span class="icon flaticon-phone-receiver"></span> +254712345678 <br> +254712345678</li>
                    <li><span class="icon flaticon-comment"></span> support@taiadventures.com</li>
                  </ul>
                </div>

                <!-- Brochures Widget-->

                <div class="sidebar-widget brochures-widget">
                  <div class="sidebar-title">
                        <h4>Terms and Conditions</h4>
                    </div>
      <div class="text">1.After consultation with our team, you are to book a preferred safari with the required date of travel.<br>
2.To confirm the booking a deposit of 30% is to be  paid via bank to facilitate in further bookings such as accommodation. With the remaining 70% to be paid upon arravial.
<br>3.A payment receipt and booking voucher shall be sent to confirm the booking and payment has been received.
<br>4.Airport pick up on arrival date shall be facilitated by the company on request from the client and shall be provided on the arriving date and time.
<br>5.Inclusive safari experience as agreed and indicated on the itinerary with transport,accommodation with full board meals all catered for, and park entry fee.
<br>6. Airport drop off on the departure date after the safari.
<br>7. Any other request not agreed upon on the itinenary will be charged depending on the request being made.</div>

    </div>


                <!-- Banner Widget-->
                            <div class="sidebar-widget banner-widget">
                  <div class="widget-content" style="background-image:url(images/resource/service-15.jpg)">
                    <div class="logo">
                      <img src="{%static 'TaiApp/images/TaiLogonew.jpg'%}" alt="" />
                    </div>
                    <div class="title">Real Experiences, Great Memories</div>
                    <h2>Tai Adventures</h2>
                    <a href="{% url 'TaiApp:book' %}" class="theme-btn btn-style-seventen">Book Now<span class="icon flaticon-direction"></span></a>
                  </div>
                </div>

              </aside>
            </div>

            <!--Content Side-->
                    <div class="content-side col-lg-8 col-md-12 col-sm-12">
                      <div class="services-single">

                <div class="text">

                  <h5><b>Arrival in Nairobi</b><br>
The safari will start immediately you land at the airport where you will be picked up and drop at your hotel of choice, you will have a rest as you feel the beautiful ambiance of the famously known City under the Sun. Briefing with the guide who will share information and familiarizing with what to expect during the safari.
<br><br><b>DAY 1 :
NAIROBI- MARA GAME RESERVE</b><br>
Pick up after breakfast at 0800hrs from your hotel and depart straight for Masai Mara Game Reserve. The drive will be full of beautiful sceneries displayed from the historic architecture of buildings within the city and also the beautiful green capture of vegetation along the highway.
Through the Rift Valley escarpments at Mai-Mahiu - Narok highway view point. Here you will get to have a spectacular view of the Great Rift-valley and its vast scenery. Along the highway is the Old Roman Catholic church that was built by the Italian prisoners who constructed the highway.
Arrive in the Reserve through the Mara Sekenani Gate and check in at our luxury tented camp. We will have an evening game drive in the spectacular game reserve for its display of wildlife viewing and an epic unforgettable moment in such for the Big 5 (Buffalo, Elephant, Lion, Leopard, Rhino). This is also a good time to spot predators hunting for prey since they hunt under low temperatures.
Dinner and overnight at a Tented Camp<br>
(Meal Plan: Lunch & Dinner)<br><br>

<b>DAY 2 :
 FULL DAY GAME DRIVE AT THE MARA RESERVE</b><br>
 Have early preparations for breakfast as you head for a full day game drive, in search for the Big 5. We will get to view a variety of wildlife and bird species with the blend of the fauna within the range of the Mara eco-system. Other species of animals within the park includes the Masaai Giraffe, Thompson gazelle, cheetah, zebras, the wildebeest, hyena etc. The reserve is also home to various species of birds such as the Secretary birds, ostrich, marabou stork etc. Your day will be marked with plenty of game viewing and animal searching. Lunch will be served as picnic during the drive.
Dinner and Overnight at a Tented Camp<br>
(Meal Plan: Breakfast, Lunch & Dinner)<br><br>

<b>DAY 3 :
 MARA RESERVE- NAIROBI</b><br>
 Wake up bell for an early morning game drive in search for predators hunting or feeding after making a kill, return to the hotel for breakfast as we make our return to Nairobi driving through the Game Reserve.
<br>(Meal Plan: Breakfast & Lunch)<br><br>
Dropping off will be at your hotel of choice.
<br><br>



<b>Charges Include : </b><br>
Transport for the entire safari in a 4 × 4 tour van with an opening roof. This also pick includes up and drop off at the airport.<br>
Full board accommodation during the safari.<br>
All meals as indicated on the meal plan table.<br>
Park entry fee and game drive with a professional tour guide<br>
Tour facilitator<br>
All Government taxes<br>
Mineral water during the safari.<br>
<b>Charges Exclude</b><br>
Tips<br>
Drinks within the bar<br>
Any request during the safari<br>
Any request not indicated on the itinerary.<br><br>

<b>Thank You for choosing to travel with us.</b>
</h5>
                </div>

                <!-- Services Gallery -->
                <div class="services-gallery">
                  <div class="services-carousel owl-carousel owl-theme">
                    <div class="slide">
                      <div class="image">
                        <img src="{% static 'TaiApp/images/LionKIng.jpg'%}" style="height : 300px" alt="">
                      </div>
                    </div>
                    <div class="slide">
                      <div class="image">
                        <img src="{% static 'TaiApp/images/wildebeast.jpg'%}" style="height : 300px" alt="">
                      </div>
                    </div>
                    <div class="slide">
                      <div class="image">
                        <img src="{% static 'TaiApp/images/Catholic.jpg'%}" style="height : 300px" alt="">
                      </div>
                    </div>
                    <div class="slide">
                      <div class="image">
                        <img src="{% static 'TaiApp/images/Cheetah.jpg'%}" style="height : 300px" alt="">
                      </div>
                    </div>
                    <div class="slide">
                      <div class="image">
                        <img src="{% static 'TaiApp/images/Mara3.jpg'%}" style="height : 300px" alt="">
                      </div>
                    </div>
                    <div class="slide">
                      <div class="image">
                        <img src="{% static 'TaiApp/images/Hyena.jpg'%}"  style="height : 300px" alt="">
                      </div>
                    </div>
                  </div>
                </div>

                <!--Services Info Tabs-->



                <!-- More Services -->


              </div>
            </div>

          </div>
        </div>
      </div>
      <!--End Sidebar Page Container-->

















		</div>
	</section>
	<!-- End Services Section Ten -->











	<!--Sponsors Section-->

	<!--End Sponsors Section-->

  	<!--Main Footer-->
      <footer class="main-footer style-two">
      	<div class="auto-container">
          	<!--Widgets Section-->
              <div class="widgets-section">
              	<div class="row clearfix">

                      <!--Column-->
                      <div class="big-column col-lg-6 col-md-12 col-sm-12">
  						<div class="row clearfix">

                          	<!--Footer Column-->
                              <div class="footer-column col-lg-7 col-md-6 col-sm-12">
                                  <div class="footer-widget logo-widget">
  									<div class="logo">
  										<a href="index.html"><img src="{%static 'TaiApp/images/icons/eagle4.png'%}" alt="" /></a>
  									</div>
  									<div class="text" style="color: green;">Real Experiences, Great Memories</div>

  								</div>
  							</div>

  							<!--Footer Column-->
                              <div class="footer-column col-lg-5 col-md-6 col-sm-12">
                                  <div class="footer-widget links-widget">
  									<p style="color : green;">Services We Offer</p>
  									<ul class="list-link">
  										<li><a href="">Travel Consultation</a></li>
  										<li><a href="">Kenya Safari Packages</a></li>
  										<li><a href="">Hotel Bookings</a></li>
  										<li><a href="">Flight Bookings</a></li>
  										<li><a href="">SGR Ticket Booking</a></li>
  										<li><a href="">Honey packages</a></li>
  									</ul>
  								</div>
  							</div>

  						</div>
  					</div>

  					<!--Column-->
                      <div class="big-column col-lg-6 col-md-12 col-sm-12">
  						<div class="row clearfix">

                          	<!--Footer Column-->
                              <div class="footer-column col-lg-6 col-md-6 col-sm-12">
                                  <div class="footer-widget links-widget">
  									<p style="color: green;">Quick Links</p>
  									<ul class="list-link">
  										<li><a href="">Our Packages</a></li>
  										<li><a href="">Contact us</a></li>
  										<li><a href="">About Us</a></li>
  										<li><a href="">Big Game Experience</a></li>

  									</ul>
  								</div>
  							</div>

  							<!--Footer Column-->
                              <div class="footer-column col-lg-6 col-md-6 col-sm-12">
                                  <div class="footer-widget gallery-widget">

  									<div class="widget-content">
  										<div class="images-outer clearfix">
  											<!--Image Box-->
                        <img src="{%static 'TaiApp/images/TaiLogonew.jpg'%}" alt="" />

  										</div>
  									</div>
  								</div>
  							</div>

  						</div>
  					</div>

  				</div>
  			</div>
  		</div>
  		<!-- Footer Bottom -->
  		<div class="footer-bottom">
  			<div class="auto-container">
  				<div class="row clearfix">

  					<!-- Copyright Column -->
  					<div class="copyright-column col-lg-6 col-md-6 col-sm-12">
  						<div class="copyright">2019 &copy; All rights reserved by <a href="#">TaiAdventures | Created By Nawiri Capital</a> </div>

  					</div>

  					<!-- Social Column -->
  					<div class="social-column col-lg-6 col-md-6 col-sm-12">
  						<ul>
  							<li class="follow">Follow us: </li>
  							<li><a href="#"><span class="fa fa-facebook-square"></span></a></li>
  							<li><a href="#"><span class="fa fa-twitter-square"></span></a></li>
  							<li><a href="#"><span class="fa fa-linkedin-square"></span></a></li>
  							<li><a href="#"><span class="fa fa-google-plus-square"></span></a></li>
  							<li><a href="#"><span class="fa fa-rss-square"></span></a></li>
  						</ul>
  					</div>

  				</div>
  			</div>
  		</div>
  	</footer>

</div>
<!--End pagewrapper-->

<script src="{% static 'TaiApp/js/jquery.js' %}"></script>
<script src="{% static 'TaiApp/js/bootstrap.min.js' %}"></script>
<script src="{% static 'TaiApp/js/jquery.mCustomScrollbar.concat.min.js' %}"></script>
<script src="{% static 'TaiApp/js/jquery.fancybox.js'% }"></script>
<script src="{% static 'TaiApp/js/appear.js'%}"></script>
<script src="{% static 'TaiApp/js/owl.js'%}"></script>
<script src="{% static 'TaiApp/js/wow.js'%}"></script>
<script src="{% static 'TaiApp/js/jquery-ui.js'%}"></script>
<script src="{% static 'TaiApp/js/main.js'%}"></script>

<!--Google Map APi Key-->
<script src="http://maps.google.com/maps/api/js?key=AIzaSyDTPlX-43R1TpcQUyWjFgiSfL_BiGxslZU"></script>
<script src="{% static 'TaiApp/js/map-script.js'%}"></script>
<!--End Google Map APi-->

</body>
</html>
